*~
*#
*.lc
XTAGS

# VisualStudio binary
*.aps
*.ncb
*.sln.cache
*.sln.old
*.suo
*.suo.old
*.tmp_*.vcproj
*.user
*.sdf
UpgradeLog.XML
_UpgradeReport_Files/

# Binary
src/**/*.bin
src/**/*.dll
src/**/*.obj
src/**/Debug/
src/**/Release/
